# NLP + PhoBERT (không cần torch)
transformers[sentencepiece]==4.37.2

# Tiền xử lý tiếng Việt
underthesea==6.8.4
beautifulsoup4

# Machine learning + model
scikit-learn==1.7.2
joblib==1.4.2
numpy==1.24.3

# ONNX
onnx==1.16.0
onnxruntime==1.17.3

# API
fastapi==0.115.5
uvicorn[standard]==0.30.6